/* 화면 공통 미세 튜닝 */
@media (min-width: 640px) {
  .prose-tight p { line-height: 1.55; }
}

/* 인쇄 최적화 (A4) */
@page {
  size: A4;
  margin: 14mm;
}
@media print {
  html, body { background: #fff !important; }
  .print\:hidden { display: none !important; }
  a[href^="http"]::after { content: " (" attr(href) ")"; font-size: 10px; color: #666; }
}

.flex-2 {
  flex: 2 1 0%;
}

.bdr {
  border: 1px solid red;
}


.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

icon.mail {
  background-image: url("./icons/mail.svg");
}
